/* General Styles
======================================*/
body {
    background-color: #2a363b;
    color: white;
}
h1 {
    font-size: 60px;
}
.section {
    padding: 20px;
}

/* Nav Styles
======================================*/
.navbar {
    margin-bottom: 0;
    padding: 0 30px;
}

/* Jumbotron Section
======================================*/
.jumbotron {
    border-radius: 0 !important;
    background: transparent;
}
.img-wrapper {
    height: 300px;
    overflow: hidden;
}
.img-wrapper img {
    max-width: 300px;
    position: relative;
    bottom: 50px;
}

/* Portfolio Section
======================================*/
.portfolio-section .panel {
    background: #ff847c;
}


/* About Section
======================================*/
.about-section .panel {
    background: #fecea8;
}
.about-section .panel:last-child {
    float:right
}
